body {

   
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqBIokCS-DwszYYNRya5TOgAaNr0HkLkIC5A&usqp=CAU);
   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
    
    
}

p {
    text-align: justify
}