body {


    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSeJGsK-OnzBrRitXjwCfjT5mA3QgREzoleGA&usqp=CAU);
        
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-position: center 150px ;



}

p {
    text-align: justify;
}